/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  /* -webkit-font-smoothing: antialiased; */
}

html, input {
  font-family:
    "ABeeZee",
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif !important;
}

html, body {
  height: 100%;
  margin: 0;
  /* padding: 20px; */
  position: relative;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:
  "ABeeZee",
  "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif !important;
}

.body{
  background-color: #000;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

.screenStatus, .homeStatus, .personStatus {
  color: white;
  font-size: 20px
}

/* .google-message-wrapper{
  margin-top: 100px;
}

.google-message{
  color: white;
  font-size: 30px;
} */

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: white;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

/* @font-face{
  font-family: 'digital-7';
  src: url('../fonts/digital-7.ttf'); */

.elementToFadeInAndOut {
  opacity: 1;
  /* animation: fade 2s linear; */
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #000000;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #ffffff;
  }
}

@keyframes materia {
  0% {
    background: #ffffff;
  }
  50% {
    background: #ffffff;
    top: 26px;
  }
  100% {
    background: #000000;
    width: 100%;
    height: 64px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 

@keyframes fade {
0%,100% { opacity: 0 }
50% { opacity: 1 }
}

/* Views */
h1 {
  font-size: 6.5rem;
}
p {
  font-size: 3.5rem
}
.welcome {
  background-color: #C4D3E4;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  color: #252741;
}
.welcome div {
  bottom: 10em;
  position: absolute;
}

.google-message-wrapper {
  background-color: #252741;
  color: #FFF;
}
.google-message-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center; 
  height:100%;
  width: 60%;
  margin: 0 auto;
}

.google-message-wrapper p {
  font-size: 4rem;
}
